body {
  font-family: Lato;
  color: #fff;
}
section.ms-main-header {
  margin: 0 auto;
  background-color: #7B3830;
  border: 0px;

  color: white;
  align-content: center;
  padding-bottom: 10px;
  user-select: none;

}
ul.ms-main-header {
  position: relative;
  left: 83%;
  padding-right: 50px;
}

ul.ms-main-header li {
  display: inline;
  text-align: center;
}

 a.ms-main-header {
  display: inline-block;
  width: 7%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: white;
  font-size: 24px;

}

.ms-main-header-second:hover ~ hr {
  margin-left: 7%;
  width: 130px;
}

hr.ms-main-header {

  height: 4px;
  width: 90px;
  left: 2px;
  margin: 0;
  margin-left: 20px;
  background: white;
  border: none;
  transition: .3s ease-in-out;
}

.ms-main-header-logo {
  width: 200px;
  height: 50px;
  font-size: 48px;
  line-height: 50px;
  border: 3px solid white;
  margin: 60px auto 35px auto;
  text-align: center;
}

h3.ms-main-header {
  text-align:  center;
  font-size: 28px;
  margin: 0 auto 25px auto;
}

input.ms-main-header {
  font-family: arial;
  font-size: 20px;
  color: #797979;
  direction: rtl;
  height: 35px;
  width: 656px;
  margin: 0px auto 25px auto;
  display: block;
}

input.ms-main-header:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
