@font-face {
    font-family: LatoBlack;
    src: url(./assets/fonts/Lato-Black.woff);
}

section.ms-header {
  position: relative;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: #7B3830;
  border: 0px;
  font-family: LatoBlack;
  color: #fff;
  align-content: center;
  padding-bottom: 10px;
  user-select: none;
  transition: all 0.4s ease;
}

section.ms-header-sticky {
  position: fixed;
  top: 0px;
  height: 100px;
}

nav.ms-header {
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

nav.ms-header li {
  display: inline;
  text-align: center;
}

ul.ms-header {
  padding: 0px;
  margin: 0px;
}

 a.ms-header {
  color: #fff;
  font-size: 24px;
  padding: 10px 0;
  display: inline-block;
  margin-right: 30px;
  margin-left: 0px;
  text-decoration: none;
  outline: 0;
}

.ms-header-second:hover ~ hr.ms-header {
  margin-left: 42%;
  width: 125px;
}

.ms-header-first:hover ~ hr.ms-header {
  margin-left: 0px;
  width: 90px;
}

hr.ms-header {
  height: 4px;
  margin: 0;
  background: white;
  border: none;
  transition: .3s ease-in-out;
  width: 90px;
}

hr.underline-first {
  margin-left: 0px;
  width: 90px;
}

hr.underline-second {
  margin-left: 42%;
  width: 125px;
}

@keyframes moveLogo {
  10% {
    opacity: 0;
    margin-top: -150px;
  }

  50% {
    margin-left: 20px;
    opacity: 1;
  }

  100% {
      margin: 20px 0px 7px 20px;
  }
}

.ms-header-logo {
  position: absolute;
  margin: 60px auto 35px auto;
  padding: 7px 10px;
  left: 0px;
  right: 0px;
  height: 50px;
  width: 200px;
  border: 3px solid white;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
}

.ms-header-logo-sticky {
  animation: moveLogo 0.4s ease;
  animation-fill-mode: forwards;
}

.ms-header-logo-sticky-reverse {
  animation: moveLogo 0.4s ease;
  animation-fill-mode: reverse;
}

h3.ms-header {
  opacity: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  font-size: 28px;
  text-align: center;
  margin: 150px auto 25px auto;
  transition: all 0.4s ease;
}

h3.ms-header-sticky {
  opacity: 0;
  /*margin: 75px auto 25px auto;*/
  transform: translateY(-170px);
}

input.ms-header {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 35px;
  width: 656px;
  font-family: Arial;
  font-size: 20px;
  color: #797979;
  direction: rtl;
  margin: 209px auto 25px auto; /*In order to match 25px distance from searchbox*/
  display: block;
  transition: all 0.4s ease;
}

input.ms-header:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input.ms-header-sticky {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 35px;
  margin: 35px auto 35px auto; /*In order to match 25px distance from searchbox*/
  display: block;
}
