<<<<<<< 3c77fa90ddde5df7d6999e30a559a08f41c0fc94
.pin{
    border: 5px solid black;
    background-color: red;
    height: 265px;
    width: 270px;
    margin: 10px auto 0;
}
=======
.ms-main {
  height:2000px;
  background: grey;
}

.ms-main-explore {
  margin: 0;
}

.hidden {
  display: none;
}
>>>>>>> set header according to specs
